{{ partial "header.html" . }}
  <body style="padding:0;">
  <div id="hello">
  <a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
  <hr/>
  </div>
  <div style="padding: 40px 0 0 0;" class="par">
    {{ range (where .Pages "Type" "post")}}
    <div class="pd" style="width:100%;justify-content:center;padding-bottom:3.6em">
       <a href="{{ .Permalink }}"> 
         <img
         style="width:100vw"
      {{ with .Resources }}
        {{ with .GetMatch "{*.*,*.jpg,*.png,*.jpeg,*.JPG,*.PNG,*.JPEG}" }}
          src='{{ .Permalink }}'  
        {{ end }}
      {{ end }}
    alt="{{ .Params.ImgAlt }}"/>
        </a>
    </div>
    {{ end }}
  </div>
<style>
  footer { padding: 0 10px; }
  #hello {
    padding: 0;
  }
  @media all and (max-width: 800px) {
    #hello {
      padding: 0 10px;
    }
  }
</style>
{{ partial "footer.html" . }}
