public/
.idea/
.DS_Store
*/.DS_Store
static/.DS_Store
content/.DS_Store
.netlify/
node_modules
.idea
.vscode
# Local Netlify folder
.netlify
*/.ztr-directory
.ztr-directory
# yarn berry
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions