static/www/
resources/
public/
node_modules/
.yarn/
.pnp.*
cspell.json
# For the sake of prettier-plugin-go-template being dumb:
layouts/_default/single.html
layouts/shortcodes/youtube.html
jsconfig.json