static/www/
resources/
public/
node_modules/
.yarn/
.pnp.*
cspell.json
jsconfig.json
# For the sake of prettier-plugin-go-template being dumb:
layouts/_default/single.html
layouts/_default/baseof.html