static/www/
resources/
public/
node_modules/
.yarn/
.pnp.*
cspell.json
jsconfig.json
# For the sake of prettier-plugin-go-template being dumb:
layouts/shortcodes/img.html
layouts/photos/photos.html
layouts/_default/single.html
layouts/shortcodes/iframe-with-chrome.html