[build]
publish = "public/"
command = "export PERCY_BRANCH=\"$BRANCH\";export PERCY_PULL_REQUEST=\"$REVIEW_ID\";hugo --enableGitInfo --minify && percy snapshot public/"

[build.environment]
HUGO_ENV = "production"
HUGO_VERSION = "0.62.0"
RUBY_VERSION = "2.6.2"

[context.split1]
command = "export PERCY_BRANCH=\"$BRANCH\";export PERCY_PULL_REQUEST=\"$REVIEW_ID\";hugo --enableGitInfo --minify -b $DEPLOY_PRIME_URL && percy snapshot public/"

[context.deploy-preview]
command = "export PERCY_BRANCH=\"$BRANCH\";export PERCY_PULL_REQUEST=\"$REVIEW_ID\";hugo --enableGitInfo --minify --buildFuture -b $DEPLOY_PRIME_URL && percy snapshot public/"

[context.branch-deploy]
command = "hugo --enableGitInfo --buildFuture -b $DEPLOY_PRIME_URL"
