:root {
  --max-width: 36rem;
  --serif: Georgia, serif;
  --font-small: 0.8rem;
  --font-med: 0.9rem;
  --font-large: 1.1rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
  font-feature-settings: "ss02";
}

html {
  font-size: 18px;
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: var(--serif);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0 1rem;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
hr,
time,
footer,
.limit,
.card,
.gist,
img {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-feature-settings: "onum", "ss02";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

time {
  font-size: var(--font-med);
}

body > header a {
  text-decoration: none;
}
body > header h1 {
  margin-bottom: 0;
}
body > header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
body > header li {
  display: inline-block;
  margin-right: 0.5em;
}
body > header * {
  font-size: var(--font-large);
  line-height: 1.4;
}

pre {
  margin: 2rem auto;
  max-width: var(--max-width);
  overflow: auto;
  white-space: pre-wrap;
  border: 2px solid black;
  padding: 2.5px 5px;
  border-radius: 6px;
}

@media (max-width: 800px) {
  pre {
    white-space: pre;
  }
}

pre code {
  width: 100%;
  padding: 10px;
  display: block;
}

figure {
  margin: 5rem auto;
  max-width: calc(10rem + var(--max-width));
}
figure img {
  width: 100%;
  max-width: calc(10rem + var(--max-width));
}
figure figcaption {
  margin-top: 0.25rem;
  font-size: var(--font-small);
  color: var(--mid-gray);
}

h1 {
  font-size: 1.7rem;
  line-height: 1.1;
}

article > header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

article > header h1 {
  width: 100%;
  margin-bottom: 0;
}

article > header time {
  display: flex;
  width: 100%;
}

article > header *:nth-child(2) {
  margin-bottom: 0;
}

.post-navigation {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto 0;
  padding: 1rem 0;
}

.post-navigation :first-child {
  margin-right: auto;
}

.post-navigation :last-child {
  margin-left: auto;
}

footer {
  margin: 2rem auto;
}

footer a {
  display: inline-block;
  margin-right: 0.4rem;
}

img:not([alt]) {
  outline: 5px solid red;
}

.draft-label {
  color: #ff6347;
}

/** Utility classes (from tailwindcss) **/

.not-italic {
  font-style: normal;
}

.inline-block {
  display: inline-block;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.text-base {
  font-size: 1rem;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 640px) {
  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:flex-no-wrap {
    flex-wrap: nowrap;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }
}

.space-x-1 > * + * {
  margin-left: 0.25rem;
}

.space-x-2 > * + * {
  margin-left: 0.5rem;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.space-y-0 > * + * {
  margin-top: 0rem;
}

.space-y-4 > * + * {
  margin-top: 1rem;
}

.grid {
  display: grid;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: col;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
