:root {
  --max-width: 36rem;
  --serif: Georgia, serif;
  --font-small: 0.8rem;
  --font-med: 0.9rem;
  --font-large: 1.1rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
  font-feature-settings: "ss02";
}

html {
  font-size: 18px;
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: var(--serif);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0 1rem;
}

.night body {
  background-color: #001f3f;
  color: white;
}

.night a {
  color: #ffdc00;
}

.night a:visited {
  color: hsl(51.76, 100%, 40%);
}

.transitional body {
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
hr,
time,
footer,
.limit,
.card,
.gist,
img {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-feature-settings: "onum", "ss02";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

time {
  font-size: var(--font-med);
}

body > header a {
  text-decoration: none;
}
body > header h1 {
  margin-bottom: 0;
}
body > header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
body > header li {
  display: inline-block;
  margin-right: 0.5em;
}
body > header * {
  font-size: var(--font-large);
  line-height: 1.4;
}

pre {
  margin: 2rem auto;
  max-width: var(--max-width);
  overflow: auto;
  white-space: pre-wrap;
  border: 2px solid black;
  padding: 2.5px 5px;
  border-radius: 6px;
}

@media (max-width: 800px) {
  pre {
    white-space: pre;
  }
}

pre code {
  width: 100%;
  padding: 10px;
  display: block;
}

figure {
  margin: 5rem auto;
  max-width: calc(10rem + var(--max-width));
}
figure img {
  width: 100%;
  max-width: calc(10rem + var(--max-width));
}
figure figcaption {
  margin-top: 0.25rem;
  font-size: var(--font-small);
  color: var(--mid-gray);
}

h1 {
  font-size: 1.7rem;
  line-height: 1.1;
}

article > header {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

article > header h1 {
  width: 100%;
  margin-bottom: 0;
}

article > header time {
  display: flex;
  width: 100%;
}

article > header *:nth-child(2) {
  margin-bottom: 0;
}

.post-navigation {
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto 0;
  padding: 1rem 0;
}

.post-navigation :first-child {
  margin-right: auto;
}

.post-navigation :last-child {
  margin-left: auto;
}

footer {
  margin: 2rem auto;
}

footer a {
  display: inline-block;
  margin-right: 0.4rem;
}

.img-max-h-40 img,
.img-max-h-40 svg {
  max-height: 10rem;
}

.remove-figure-margin figure {
  margin: 0;
}

img:not([alt]) {
  outline: 5px solid red;
}

.draft-label {
  color: #ff6347;
}

/** Utility classes (from tailwindcss) **/

.not-italic {
  font-style: normal;
}

.bg-white {
  background-color: white;
}

.inline-block {
  display: inline-block;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.text-base {
  font-size: 1rem;
}

.w-full {
  width: 100%;
}

.w-1\/2 {
  width: 50%;
}

@media (min-width: 640px) {
  .sm\:max-h-108 {
    max-height: 27rem;
  }
}

.overflow-y-auto {
  overflow-y: auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

@media (min-width: 640px) {
  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:flex-no-wrap {
    flex-wrap: nowrap;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }
}

.space-x-1 > * + * {
  margin-left: 0.25rem;
}

.space-x-2 > * + * {
  margin-left: 0.5rem;
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

.space-y-0 > * + * {
  margin-top: 0rem;
}

.space-y-4 > * + * {
  margin-top: 1rem;
}

.space-y-6 > * + * {
  margin-top: 1.5rem;
}

@media (min-width: 640px) {
  .sm\:space-y-0 > * + * {
    margin-top: 0rem;
  }
}

.grid {
  display: grid;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: col;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus\:not-sr-only:focus {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
