{{ define "header" }}
<header>
  <h1 style="font-size:initial;">
    <a href="#footer">
      <span>↓</span>
    </a>
    {{ if .Draft }}
    <span class="draft-label">Draft</span>
    {{ end }}
    <a href="{{ .Permalink }}">
      <span>{{ .Title }}</span>
    </a>
    <time>{{ .PublishDate.Format "January 02, 2006" }}</time>
  </h1>

  <hr />
</header>
{{ end }}

{{ define "main" }}
<main>
  {{ .Content }}
</main>


<footer title="date-info-and-contact-info">
  <div class="navi-parent">
    {{ if .Date }}
    <div>
      This page was created
      <a href="https://www.daysoftheyear.com/days/{{ .Date.Format "2006/01/02/" }}">
        <time>{{ .Date.Format "January 2, 2006" }}</time>
      </a>
    </div>
    {{ end }}
    <div>
      This page was last modified
      {{ if $.GitInfo }}
      <a
        href="https://github.com/jasikpark/jasik-xyz/commit/{{ .GitInfo.Hash }}"><time>{{ .Lastmod.Format "January 2, 2006" }}</time></a>
      {{ end }}
    </div>
  </div>
  <address property="email" style="font-style:normal;" class="navi-parent">
    <div>Send me an email at <a href="mailto:calebjasik@jasik.xyz">calebjasik@jasik.xyz</a> if you want to.</div>
  </address>
</footer>
{{ if .Date }}
<footer class="navi-parent">
  <div>{{ with.PrevPage }}{{ if .Date }}<a href="{{.Permalink}}">← {{.Title}}</a> {{ end }}{{ end }}</div>
  <div>{{ with.NextPage }}{{ if .Date }}<a href="{{.Permalink}}">{{.Title}} →</a> {{ end }}{{ end }}</div>
</footer>
{{ end }}

{{ end }}