{{ define "title" }}{{ with .Page.Title }}{{ . | truncate 50 }}{{ else }}{{ .Page.Summary | replaceRE "[\n]+" " " | truncate 50 }}{{ end }} | {{ .Site.Title }}{{ end }}

{{ define "header" }}
<header>
  <h1 class="{{ if .Title }}p-name{{ end }}{{ if .Draft }}draft-label{{ end }}">{{ with .Title }}{{ . }}{{ else }}{{ .Summary | truncate 70 }}{{ end }}</h1>
 <div class="limit">
 {{ if .PublishDate }}<a class="u-url" href="{{ .Permalink }}"><time class="inline dt-published"
      datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
      {{ .PublishDate.Format "January 2, 2006" }}</time></a> ◆ {{ end }}<a rel="author" class="p-author h-card" href="{{ .Site.BaseURL }}"><span class="text-base">Caleb Jasik</span></a>
      </div>
</header>
{{ partial "css-day" }}
{{ end }}

{{ define "main" }}
<main id="main">
  <article class="h-entry">
    {{ block "header" . }}{{ end }}
    <div class="e-content {{ if not .Title }}p-name{{ end }}">
    {{ .Content }}
    </div>
  </article>
</main>


<footer title="date-info-and-contact-info">
  <div>
    {{ if .Date }}
    <div>
      This page was created
      <a href="https://www.daysoftheyear.com/days/{{ .Date.Format "2006/01/02/" }}"><time
          datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "January 2, 2006" }}</time>
      </a>
    </div>
    {{ end }}
    {{ if (ne .Date .PublishDate) }}
    <div>
      This page was published
      <a href="https://www.daysoftheyear.com/days/{{ .PublishDate.Format "2006/01/02/" }}"><time
          datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .PublishDate.Format "January 2, 2006" }}</time>
      </a>
    </div>
    {{ end }}
    {{ if $.GitInfo }}
    <div>
      This page was last modified
      <time class="inline-block"
        datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "January 2, 2006" }}</time> You
      can see
      the revisions <a href="https://github.com/jasikpark/jasik-xyz/commits/main/content/{{ .Path }}">here</a>
    </div>
    {{ end }}
  </div>
  <address property="email" class="not-italic">
    <div>Send me an email at <a
        href="mailto:calebjasik@jasik.xyz?subject=RE:%20{{ with .Title }}{{ . }}{{ else }}{{ .Summary | truncate 70 }}{{ end }}">calebjasik@jasik.xyz</a>
      if you want to.</div>
  </address>
  {{ if $.GitInfo }}
  <div>
    <a href="https://github.com/jasikpark/jasik-xyz/edit/main/content/{{ .Path }}">Edit on Github</a>
  </div>
  {{ end }}
</footer>
{{ if .PublishDate }}
<section class="post-navigation">
{{/*We get the posts within the section and then sort by publish date in descending order.*/}}
{{ $pages := (sort (where site.RegularPages "Section" .Section) ".PublishDate" "desc") }}
  <div>{{ with $pages.Prev . }}{{ if .PublishDate }}<a rel="prev" 
      href="{{.Permalink}}">{{ with .Title }}{{ . }}{{ else }}{{ .Summary | truncate 70 }}{{ end }}</a> {{ end }}{{ end }}</div>
  <div>{{ with $pages.Next . }}{{ if .PublishDate }}<a rel="next"
      href="{{.Permalink}}">{{ with .Title }}{{ . }}{{ else }}{{ .Summary | truncate 70 }}{{ end }} </a> {{ end }}{{ end }}</div>
</section>
{{ end }}

{{ end }}
