{{ partial "header.html" . }}
<article>
<a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
<hr />
{{ .Content }}
<div class="navi-parent">
  <div>
    This page was created
    <a
      href="https://nationaltoday.com/{{ .Date.Format "January-2-" }}holidays/"
      >{{ .Date.Format "January 2, 2006" }}</a
    >
  </div>
  <div>
    This page was last modified
    <a
      href="https://github.com/jasikpark/jasik-xyz/commit/{{ .GitInfo.Hash }}"
      >{{ .Lastmod.Format "January 2, 2006" }}</a
    >
  </div>
</div>
</article>
<div class="navi-parent">
  {{ with.PrevPage }}<a href="{{.Permalink}}">← {{.Title}}</a> {{ end }}
  {{ with.NextPage }}<a href="{{.Permalink}}">{{.Title}} →</a>{{ end }}
</div>
{{ partial "footer.html" . }}
