@font-face {
  font-family: PublicSans-Black;
  src: url("fonts/PublicSans/PublicSans-Black.woff2") format("woff2"),
    url("fonts/PublicSans/PublicSans-Black.woff") format("woff");
}

@font-face {
  font-family: PublicSans-Regular;
  src: url("fonts/PublicSans/PublicSans-Regular.woff2") format("woff2"),
    url("fonts/PublicSans/PublicSans-Regular.woff") format("woff");
}

:root {
  --max-width: 36rem;
}

html {
  font-size: 18px;
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

.accent {
  font-size: 15vw;
  line-height: 0.9;
  font-feature-settings: "SHDW" 1000 "OUTL" 100;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
h6,
.main-content p,
.main-content ol,
.main-content ul,
.main-content blockquote,
.main-content hr,
.main-content time,
.main-content footer {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-feature-settings: "onum", "ss02";
}

.main-content pre {
  margin: 2rem auto;
  max-width: var(--max-width);
  overflow: auto;
  white-space: pre-wrap;
  @apply border;
  @apply rounded-lg;
}

@media (max-width: theme("maxWidth.screen-md")) {
  .main-content pre {
    white-space: pre;
  }
}

.main-content pre code {
  width: 100%;
  display: block;
  @apply border-8;
  @apply border-mint-tulip-500;
  @apply rounded-lg;
  @apply bg-mint-tulip-500;
  @apply text-patina-700;
}

.main-content code {
  @apply px-1;
  @apply border;
  @apply border-mint-tulip-500;
  @apply rounded-md;
  @apply bg-mint-tulip-500;
  @apply text-patina-700;
}

.main-content figure {
  box-sizing: content-box;
  margin: 5rem auto;
  max-width: calc(10rem + var(--max-width));
}

.main-content figure img {
  width: 100%;
}

.main-content figure figcaption {
  margin-top: 0.25rem;
}

.main-content hr {
  @apply border-mint-tulip-500;
  @apply border-t-8;
  @apply max-w-xl;
  @apply pt-4;
  @apply pb-2;
  @apply mx-auto;
}

.main-content a {
  @apply font-mono;
  @apply px-1;
  @apply border;
  @apply border-mint-tulip-500;
  @apply rounded-md;
  @apply bg-mint-tulip-500;
  @apply text-patina-700;
}

.main-content a:hover {
  @apply text-patina-800;
  @apply underline;
}

.main-content p {
  @apply py-2;
}

.max-h-2xl {
  max-height: 42rem;
}
