<nav id="footer">
  <div title="primary-navigation" class="navi-parent">
    <a href="#">Back to top</a>
    <a rel="me" href="https://ko-fi.com/calebjasik">Buy me a coffee</a>
    <a rel="me" href="{{ "/about/" | absURL }}">About</a>
    <a rel="me" href="https://twitter.com/calebjasik">Twitter</a>
    <a rel="me alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml">RSS</a>
  </div>
  <div title="category-navigation" class="navi-parent">
    <a rel="me" href="{{ "/" | absURL }}">Archive</a>
    <a rel="me" href="{{ "/photos" | absURL }}">Photos</a>
    {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
    <a rel="me" href="{{ .Permalink }}">{{ .Page.Title }}</a>
    {{- end -}}
  </div>
</nav>
</body>

</html>