<footer>
<div class="navi-parent">
  <a href="{{ .Site.BaseURL }}/">Archive</a>
  <a rel="me" href="https://www.patreon.com/calebjasik">Patreon</a>
  <a rel="me" href="{{ .Site.BaseURL }}/about/">About</a>
  <a rel="me" href="https://twitter.com/calebjasik">Twitter</a>
  <a rel="me" href="https://mastodon.social/@calebjasik">Mastodon</a>
  <a href="{{ .Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml"/>RSS</a>
  <!-- for now this doesn't work <a href="{{ .Site.BaseURL }}/atom.xml" rel="alternate" type="application/rss+xml">RSS</a> -->
</div>		
</footer>
</body>

</html>
