{{ partial "header.html" . }}
<main>
<div>
  <strong>404</strong>
  <hr/>
  <p>Oops!! Here&#x2019s my <a href="{{ "/" | relURL }}">homepage</a> and if you think something is weird you can open an issue on my <a href="https://github.com/jasikpark/jasik-xyz/issues/new">github repo</a> or <a href="mailto:calebjasik@jasik.xyz">email me</a></p>
  <a href="https://unsplash.com/photos/i54owgDjXeY"><img src="/uploads/cool-octopus.jpg" alt="octopus on black background"/></a>
</div>
</main>
<br/>
{{ partial "footer.html" . }}
