{{ partial "header.html" . }}
<header>
  <h1 style="font-size:initial;">404</h1>
  <hr />
</header>
<main>
  <p>Oops!! Here&#x2019s my <a href="{{ "/" | relURL }}">homepage</a> and if you think something is weird you can open
    an issue on my <a href="https://github.com/jasikpark/jasik-xyz/issues/new">github repo</a> or email me at <a
      href="mailto:calebjasik@jasik.xyz">calebjasik@jasik.xyz</a></p>
  <a href="https://unsplash.com/photos/i54owgDjXeY"><img src="/uploads/cool-octopus.jpg"
      alt="octopus on black background" /></a>
  </div>
</main>
<br />
{{ partial "footer.html" . }}