{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define "header" }}
  <header>
    <h1>404</h1>
  </header>
  {{ partial "css-day" }}
{{ end }}
{{ define "main" }}
  <main id="main">
    {{ block "header" . }}{{ end }}
    <p>
      Oops!! Here&rsquo;s my <a href="{{ "/" | absURL }}">homepage</a> and if
      you think something is weird you can open an issue on my
      <a href="https://github.com/jasikpark/jasik-xyz/issues/new"
        >github repo</a
      >
      or email me at
      <a href="mailto:calebjasik@jasik.xyz?subject=RE%20404"
        >calebjasik@jasik.xyz</a
      >
    </p>
    <figure>
      <a href="https://unsplash.com/photos/i54owgDjXeY"
        ><img
          src="{{ "/uploads/cool-octopus.jpg" | absURL }}"
          alt="octopus on black background"
      /></a>
      <figcaption>
        <p>Photo by Isabel Galvez on Unsplash</p>
      </figcaption>
    </figure>
  </main>
{{ end }}
