{{ define "header" }}
  <section class="subheading limit h-card py-8">
    <!-- <img
      src="/caleb-jasik-profile.jpg"
      alt="profile of Caleb Jasik"
      title="✌️"
    />
    -->
    <div
      style="background-image:url('/caleb-jasik-profile.jpg');background-size:cover;background-position:center bottom;background-repeat: no-repeat;"
    ></div>
    <p>
      Hi 👋 I'm
      <a class="u-url p-name" rel="me" href="https://jasik.xyz/">Caleb Jasik</a
      >.
    </p>
    <p>
      If you're looking for my contact info you can email me
      <a class="u-email" href="mailto:calebjasik@jasik.xyz">here</a>
    </p>
    <p class="p-note">
      I am currently looking for clients for freelance web development!
    </p>
  </section>
  {{ partial "css-day" }}
{{ end }}
